.navContainer {
  display: block;
  width: 100%;
  min-height: 70px;
  position: relative;
  transition: position 0.4s linear;
}

.navBody {
  max-width: 1200px;
  margin: auto;
  padding: 0 6px;
  position: relative;
  display: grid;
  grid-template-areas: "logo profile" "nav nav";
  border-bottom: 1px solid #eaeaea;
  transition: gird-template-areas 0.4s linear;
}

.sticky{
  position: fixed;
  background: #fff;
  z-index: 99;
  top: 0;
  border-bottom: 1px solid #eaeaea;
}

.sticky .navBody {
  border-bottom: 0;
  grid-template-areas: "logo nav nav nav profile";
}

.logo {
  grid-area: logo;
  padding: 24px 0;
}

.logoImg {
  max-width: 133px;
  transition: max-width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sticky .logoImg { 
  max-width: 100px;
}

.navProfile {
  grid-area: profile;
  padding: 24px 0;
  display: grid;
  justify-content: flex-end;
}

.profileContainer {
  display: flex;
  gap: 20px;
}

.profile {
  font-family: Graphik;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.profileText {
  display: inline;
  opacity: 1;
  max-width: 200px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sticky .profileText {
  display: none;
  opacity: 0;
  max-width: 0;
}

@media screen and (max-width: 835px) {
  .navBody {
    grid-template-areas: "nav logo logo profile";
  }

  .sticky .navBody {
    width: 100%;
    max-width: 830px;
    grid-template-areas: "nav logo logo profile";
    margin: 0;
  }

  .sticky .logoImg { 
    max-width: 133px;
  }

  .logoImg {
    margin: auto;
  }

  .profileText {
    display: none;
  }
}