.articleHeadContainer {

}

.title {
  max-width: 1024px;
  margin-bottom: 55px;
}

.title p {
  margin: 0;
  font-size: 44px;
  font-weight: 600;
  font-family: Graphik;
}

.articleHeadBox {
  display: grid;
  grid-template-columns: 69% 29%;
  grid-gap: 20px;
}

.left {
  margin-bottom: 30px;
}

.image {
  position: relative;
}

.imgContainer {

}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bylineTags {
  position: absolute;
  right: 0;
  bottom: 4px;
  padding: 6px 10px;
  background: rgba(33,37,41,0.7);
  color: #fff;
  font-size: 14px;
}

.imgDescription {
  font-family: proximanova-regular;
  font-size: 16px;
  color: rgb(51, 51, 51);
}

.socialBanner {
  background-color: rgb(238, 238, 238);
  border-top: 1px solid rgb(255, 0, 0);
  padding: 12px;
  text-align: center;
}

.socialBanner p {
  font-family: proximanova-regular;
  font-size: 14px;
  color: #000;
  margin: 0;
}

.socialBanner p a {
  color: rgb(181, 0, 0);
  font-weight: 700;
}

.right {

}

.bylineAuthors {

}

.authorLine {
  display: flex;
  gap: 20px;
}

.authorImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.authorImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorName p b {
  text-transform: uppercase;;
}

.dates {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date p {
  margin: 0;
  font-size: 14px;
}

.medias {
  display: flex;
  gap: 10px;
}

.media {
  width: 30px;
  height: 30px;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}