.popularContainer {
  display: grid;
  height: 100%;
  position: relative;
}

.popularBox {
  position: relative;
  top: 20%;
}

.popularHeader h2 {
  color: rgb(74, 79, 84);
  font-size: 20px;
  font-family: Graphik;
  font-weight: 600;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.popularWrapper {
  display: flex;
  flex-direction: column;
}

.popularItem {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.popularItem:last-child {
  border-bottom: 0;
}