.readMoreContainer {
  max-width: 697px;
  margin: auto;
  margin-bottom: 30px;
  background-color: rgb(248, 248, 248);
  color: #000;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: Graphik;
  display: flex;
  align-items: center;
}

.singapore {
  text-transform: uppercase;
  color: rgb(210, 45, 40);
  font-size: 28px;
  font-weight: 600;
  font-family: Graphik;
}

.explore {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: rgb(210, 45, 40);
  display: grid;
  align-self: center;
}

.explore a {
  position: relative;
}

.explore a:after {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 8px 8px;
  box-shadow: -2px 2px 0 0 #d22d28;
  transform: rotate(225deg);
}