.topicsContainer {
  max-width: 697px;
  margin: 0 auto 30px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAEAEA;
}

.topicsTitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(74, 79, 84);
  margin-bottom: 15px;
}

.topicsWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.topic {
  background-color: #00000000;
  border: 1px solid #EAEAEA;
  font-size: 14px;
  color: #000;
  letter-spacing: -0.23px;
  margin-bottom: 10px;
  padding: 2px 15px 3px 15px;
}

.topic a {
  line-height: 22px;
  text-transform: uppercase;
}