.newsletterContainer {
  margin-bottom: 30px;
}

.nlTitle {
  background-color: rgb(210, 45, 40);
  padding: 12px 0 1px 20px;
}

.nlBodyWrapper {
  border: 1px solid #eaeaea;
  border-top: 0;
}

.nlTitle h2 {
  color: #fff;
  font-family: Graphik;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}

.nlBody {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nlBodyText p {
  margin: 0;
  max-width: 210px;
  padding: 25px 0 15px 20px;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
  line-height: 1.5;
}

.nlImg {
  width: 142px;
  max-height: 150px;
  margin-top: -8px;
  margin-right: 5px;
}

.nlImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nlForm form{
  display: flex;
  margin-top: 25px;
  padding: 0 20px;
}

.nlEmailInput {
  border: 0;
  border-bottom: 1px solid #eaeaea;
  outline: none;
  padding: 10px 0;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
}

.nlEmailInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.nlSubscribeBtn {
  border: 0;
  background: rgb(210, 45, 40);
  padding: 12px 30px 12px 13px;
  color: #fff;
  font-family: Graphik;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.nlSubscribeBtn:after {
  content: '';
  display: inline-block;
  position: absolute;
  border: solid transparent;
  border-width: 0 0 8px 8px;
  box-shadow: -2px 2px 0 0 #fff;
  top: 50%;
  transform: rotate(225deg) translateY(50%);
}

.nlDescription {
  padding: 0 20px;
  margin-top: 15px;
}

.nlDescription p {
  font-size: 12px;
  color: #000;;
}