.navItems {
  grid-area: nav;
  display: grid;
  align-items: center;
}

.navItems ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navItem a {
  font-size: 16px;
  font-weight: 500;
  font-family: Graphik;
}

.mobileIcon {
  display: none;
}

@media screen and (max-width: 834px) {
  .navItems ul {
    flex-direction: column;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .navItems ul.menuOpen {
    max-height: 100vh;
  }

  .navItems ul li {
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
  }

  .navItems ul li:last-child {
    border-bottom: 0;
  }

  .mobileIcon {
    display: inline;
  }

  .mobileIconWrapper {
    padding: 20px 0 20px 20px;
  }

  .mobileNavBtn {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }

  .mobileNavBtn::after {
    content: '';
    display: inline-block;
    position: absolute;
    border: solid transparent;
    border-width: 0 0 8px 8px;
    box-shadow: -2px 2px 0 0 #000;
    top: 50%;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .close.mobileNavBtn::after {
    transform: rotate(-45deg) translateY(-50%) translateX(80%);
    right: -10px;
  }

  .open.mobileNavBtn::after {
    transform: rotate(135deg) translateY(-50%) translateX(5%);
    right: -10px;
  }
}