.popularItem {
  position: relative;
}

.popularItemBox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.popularImg {
  width: 106px;
  height: 70px;
}

.popularImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popularTitle p {
  margin: 0;
  font-family: Graphik;
  font-size: 14px;
  font-weight: 500;
  margin-top: -3px;
}

.popularLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}