@font-face {
  font-family: 'Graphik';
  src: url('../public/fonts/GraphikRegular.otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../public/fonts/GraphikMedium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('../public/fonts/proxima_nova_reg-webfont.ttf');
  font-weight: normal;
  font-size: normal;
}