@import url('./fonts.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: proximanova-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e20000;
}

a:hover icon svg {
  color: #e20000;
  fill: #e20000;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}
