.readAlsoComponent {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}


.readAlsoItem {
  margin: 0 0 30px 15px;
}

.readAlsoWrapper {
  padding: 15px 15px 15px 15px;
  background: #f5f5f5;
  min-width: 240px;
}

.readAlsoItem h4 {
  color: rgb(210, 45, 40);
  font-size: 16px;
  font-weight: 500;
  font-family: Graphik;
  margin-top: -3px;
  margin-bottom: 5px;
}

.readAlsoItem a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: Graphik;
}

.readAlsoItem a:hover {
  color:rgb(210, 45, 40);
}