.articleContentBox {
  display: grid;
  grid-template-columns: 69% 29%;
  grid-gap: 20px;
}

.left {
  display: block;
}

.articleContentWrapper {
  max-width: 697px;
  margin: auto;
  font-size: 18px;
}

.articleContentWrapper ul {
  padding: 0;
  list-style-type: none;
  position: relative;
}

.articleContentWrapper ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.articleContentWrapper ul li:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  left: 0;
  top: 8px;
  background-color: rgb(181, 0, 0);
  border-radius: 50%;
}

.articleContentWrapper p {
  margin: -5px 0 16px 0;
  line-height: 28px;
  letter-spacing: -0.3px;
  display: inline-block;
}

.contentExtras {
  max-width: 697px;
  margin: auto;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
}